html {
    height: 100%;
}

body {
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

    #wrap > .container {
        padding: 60px 15px 0;
    }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #efe4e4;
}

.search-movie {
    margin-bottom: 15px;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 4px;
}
